* {
    margin: 0;
    padding: 0;
  }

  body {
    background-color: #cba83c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  header {
    min-width: 300px;
    max-width: 1440px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 130%;
  }

  a { 
    text-decoration: none;
    padding: 8px;
    border-radius: 10px ;
  }

  a:hover{
    font-size: 32px;
    transition: 1s;
  }

  main,form{
    min-width: 300px;
    max-width: 1080px;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: flex-start;
  }

  form{
    width: 20%;
    padding: 15px;
    background-color: white;
    margin: 5%;
    height: 40vh;
    border-radius: 15px;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.719);
}  

  h2{ 
  left: 5%;
  position: relative;
  top: 10%;
  padding: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}

button{
  width: 140px;
  padding: 10px;
  border-radius: 120px;
  background-color: rgb(0,0,0);
  color: white;
  border: none;
}

button:hover{
  transition: 1s;
  background-color: #cba83c;
} 

input{
  padding: 10px;
  border-radius: 7px;
  background-color: rgb(206, 206, 206);
  outline: none;
}

input:hover{
  outline-color: black;
  outline-style: solid;
  outline-width: 1px;
}

.thais{ 
  position: relative;
  top: -375px; 
  margin-left: 50%;
  width: 245px;
  box-shadow: 0px 0px 10px black;
  height: 329px;
}

h3{
  font-size: 22px;
margin-left: 15%;
position: relative;
top: -1px;
}






